PSBOT_SHOWDOWN_WS=ws://localhost:8000/showdown/websocket
PSBOT_SHOWDOWN_ACTION_URL=https://play.pokemonshowdown.com/action.php?
PSBOT_USERNAME=
PSBOT_PASSWORD=
PSBOT_WANDB_PROJECT=psbot
PSBOT_HF_REPOSITORY=
